USE [master]
GO
/****** Object:  Database [CicekSepetiDB]    Script Date: 19.10.2014 23:33:55 ******/
CREATE DATABASE [CicekSepetiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CicekSepetiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CicekSepetiDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CicekSepetiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CicekSepetiDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CicekSepetiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CicekSepetiDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19.10.2014 23:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 19.10.2014 23:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [uniqueidentifier] NOT NULL,
	[LoginDateTime] [datetime] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.10.2014 23:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[HashedPassword] [nvarchar](250) NOT NULL,
	[PasswordSalt] [nvarchar](50) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Activities] ([Id], [LoginDateTime], [UserId], [CreationDate]) VALUES (N'8106d174-37be-4daf-82d3-72ea2db99c55', CAST(0x0000A3C9018203B9 AS DateTime), N'dd42523e-124a-4182-820c-0b0bc4ded74e', CAST(0x0000A3C9018203B9 AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [HashedPassword], [PasswordSalt], [CreationDate]) VALUES (N'dd42523e-124a-4182-820c-0b0bc4ded74e', N'ooo', N'ppp', N'b@b.com', N'qR9tPp/eUtZ3XSqHEsShsi3LPdySZJ32rccekbe2+xU=', N'81jOZ2sZQH6dJymqEuCQFP3qZPqWDzN72uEDhUTojzorJXC4bo', CAST(0x0000A3C90182037C AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [HashedPassword], [PasswordSalt], [CreationDate]) VALUES (N'5e479f61-ba26-4636-b5b3-9927e8f5b5f3', N'brs', N'snmz', N'a@b.com', N'eoMcv+CKIl1A94sBaFRzlAfhNUUPSHFfLRz0p7/0W0Y=', N'SXO3NZRVkgWfgWa08P37HGEfhHpvLHkKEyFROw52F2BLdLEbnr', CAST(0x0000A3C90181FDF7 AS DateTime))
/****** Object:  Index [IX_UserId]    Script Date: 19.10.2014 23:33:55 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Activities]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Activities_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_dbo.Activities_dbo.Users_UserId]
GO
USE [master]
GO
